<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :dob, "Date of Birth" %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.number_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :type, "Select Account Type" %><br />
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :desc, "Describe Yourself" %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :instruments, "Guitar Experience" %><br />
    <%= f.text_area :instruments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
